body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.top-info {
  width: 560px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bottom-info {
  width: 560px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.square {
  width: 35px;
  height: 35px;
  border: solid black 2px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
}

.power-up-drill {
  background-image: url(resources/drill.png);
}

.power-up-wall {
  background-image: url(resources/wall.png);
}

.power-up-fire {
  background-image: url(resources/fire.png);
}

.power-up-portal{
  background-image: url(resources/clipart153311.png);
}

.power-up-active {
  border: solid #e27d60 3px;
}


.toggle-sound{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  font-size: 1.5em;
  font-weight: bold;
  height:35px;
  width:148px;
  margin-left:96px;
  
}

.toggle-sound:hover {
  cursor: pointer;
  border: solid black 3px;
  font-size: 1.56em;
}

.powerups {
  display: flex;
  flex-direction: row;
}

.instruction {
  animation: opacity 0.55s ease-in-out infinite alternate;
  opacity: 1;
  text-decoration-line: underline;
}

.hide {
  display: none;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
  margin: auto;
  background-color: teal;
  z-index: 1;
}

.grid-instruction{
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}


.grid div {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.overlay {
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 2;
  width: 100%;
  height: 100%;
}

.overlay-button {
  background-color: #e78d74;
  margin: auto;
  width: 15%;
  height: 10%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
  font-weight: 800;
}


.pac-dot {
  background-color: #85dcb1;
  border: 1px solid white;
}

.wall {
  background-color: #41b3a3;
}


.outer-wall{
  background-color:rgb(245, 245, 220);
}

.power-up-map {
  background-color: #e7717d;
  border-radius: 18px;
}

.portal{
  background-color: rgba(65, 65, 64);
  border-radius:18px;
  z-index: -1;
  animation: color2-animation ease-in-out 1s;
  animation-iteration-count: infinite;
}
@keyframes color2-animation {
  0% {
    background-color: rgba(65, 65, 64);
  }

  5% {
    background-color: rgba(75, 75, 75);
  }

  50% {
    background-color: rgba(85, 85, 85);
  }

  75% {
    background-color: rgb(95, 95, 95);
  }

  100% {
    background-color: rgb(105, 105, 105);
  }
}

.ghost {
  background-color: #e27d60;
  border-radius: 0px;
}

.pac-man {
  background-color: #659dbd;
  border-radius: 10px;
}

.fire {
  background-color: red;
  border-radius: 0px;
  animation: color-animation ease-in-out 0.5s;
  animation-iteration-count: infinite;
}

@keyframes color-animation {
  0% {
    background-color: red;
  }
  5% {
    background-color: rgb(245, 46, 46);
  }
  50% {
    background-color: rgb(179, 37, 37);
  }
  75% {
    background-color: rgb(184, 36, 36);
  }
  100% {
    background-color: rgb(172, 14, 14);
  }
}

